nav li{
	display: inline;
	text-decoration: none;
	text-transform: uppercase;
}


body{
	background: #a57343;
	margin: 0;
	padding: 0;
}

#banner{
	width: 100%;
}

h1 {
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: center;
	font-size: 70px;
}

.textos {
	background: white;
}

p {
	text-align: center;
	font-size: 20px;
}


